*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #fff;
}
#container{
    height: 100%;
    width: 100%;
    background-color: #fa0e0e;
}
#left{
    height: 100%;
    width: 200px;
    float: left;
    background-color: #0000ff;
    border:2px solid #000;
}