*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #fff;
}
#header{
    background-color: #362121;
    height:100px;
    width:100%;
    float: left;
}
#left{
    float: left;
    background-color: rgb(36, 23, 48);
    height:100%;
    width:250px;
}
#right{
    float: right;
    background-color: #5c2b2b;
    height: 100%;
    width:250px;
}
#container{
    background-color: #fff;
    height: 100%;
    width: 100%;
}
#footer{
    background-color: black;
    float: left;
    height: 50px;
    width: 100%;
}