*{
    margin:0;
    padding:0;
}
body{
    background-color: #fff;
}
#header{
    width:100%;
    height:60px;
    background-color: black;
}
h1{
    font-size: 30px;
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 10px 10px #000;
}
#navbar{
    background-color: rgb(27, 26, 26);
    width:67.15%;
    height:70px;
    padding-left: 500px;
    border:1px solid rgb(27, 26, 26);
}
.logo{
    float:left;
    width:50px;
    height:50px;
}
.btn{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;
    float:left;
    padding:10px;
    margin-left:10px;
    padding-left: 10px;
    margin-top:10px;
}
.btn:hover{
    border:2px solid #000000;
    background-color:#000000;
}
#container{
    width: 100%;
    height: auto;
    background-color: white;
    float: left;
}
.box{
    background-color:#000;
    width:300px;
    height:350px;
    float:left;
    margin:51px;
    padding:50px;
    border:1px solid #000;
    border-radius:20px;
}
.image{
    width:300px;
    height:200px;
}
p{
    font-size: larger;
    color:#ffffff;
    font-family:sans-serif;
    width:300px;
}
.image1{
    width:300px;
    height:250px;
}
#footer{
    width:100%;
    height:40px;
    background-color: #000000;
    float: left;
}
h3{
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
}