*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
}
#header{
    background-color: black;
    height: 50px;
    width:100%;
    position: fixed;
}
h1{
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;
    text-shadow:1px 2px 5px #ffffff;
    position: relative;
}
span{
    background-color: rgb(230, 6, 6);
    color: #ffffff;
    padding: 10px;
    box-align:center;
}
.ex1{
    float: left;
    display:none;
}
.ex2{
    float:left;
    display: inline;
}
.ex3{
    float: left;
    display:block;
}
.ex4{
    display:inline-block;
}
.ex5{
    float: left;
    display:flex ;
}
.ex6{
    float: left;
    display:grid;
}
.image{
    float:right;
    width: 400px;
    height:350px;
    z-index:1; 
}

#dropbtn{
    background-color: #4CAF50;
    color: #ffffff;
    padding: 20px;
    font-size: 12px;
    
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}