*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
#header{
    height:100px;
    width:100%;
    background-color: blue;
    position: header;
}
#container{
    float: left;
    width: 100%;
    height: 100%;
    background-color: white;
}
.box{
  float: left;
  width: 31.9%;
  height:100%;
  padding: 10px;
  background-color: #574b4b;
  border: 1px solid #000;
}
#footer{
    float: left;
    width:100%;
    height:100px;
    background-color: #000;
}
