*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #fff;
}
#header{
    float: left;
    height: 100px;
    width:100%;
    background-color: #213938;
    position:relative
}
#container{
    height: 100%;
    width:100%;
    background-color: #fff;
}
#footer{
    float: left;
    width: 100%;
    height: 100px;
    background-color: #000;
    position:relative
}